

<div class="container">
  <div class="user-details">
    <h3> About me </h3>
    <p> {{site.user_description}} </p>
  </div>

  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>

      <i class="devicon-illustrator-plain colored"></i>

      <p>HTML5 and CSS3 as front end and bootstrap because it's mobile first. Mainly use illustrator for scalable vector graphics </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>

      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>On the backend I use django which is a python framework as a server side language and Angular JS  which runs on top of Node JS as a client side language,database is SQL lite,but recently converting to mongoDb</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-grunt-plain-wordmark colored"></i>
      <p>Git for deployment, using grunt as a task runner to automate tasks,backed by firebase, all scripted in visual studio code </p>
    </div>
  </div>
</div>
